@import '../../styles/globals.scss';

.formFieldsWrapper {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.formField {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: lighten($gray-color, 3%);
}

.addFieldButton {
    margin-bottom: 10px;
    padding-top: 10px;
}

.editableFieldControls {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .index {
        position: absolute;
        top: 13px;
        left: 0;
        font-size: 16px;
    }
}

.editableFieldOptions {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: lighten($gray-color, 9%);
    border-radius: 3px;

    .option {
        display: flex;
        align-items: center;
    }

    &.withErrors {
        border: 1px solid $md-red-200;
    }
}

.formControlGroup {
    margin-left: 0;
    padding-left: 0;
    border-bottom: 1px solid $gray-color !important;

    legend {
        padding-top: 10px;
    }

    &.hasErrors {
        border-bottom-color: $error-color !important;
    }
}

.formFileUploadGroup {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-color;

    &.hasErrors {
        border-bottom: 1px solid $error-color;
    }
}

.formInput label {
    color: initial;
}
