.signInWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #2980b9;
    background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);

    .card {
        background-color: rgba(#fff, 0.75);

        p {
            margin-top: 20px;
            max-width: 350px;
            text-align: center;
        }
    }

    .title {
        text-align: center;

        h2 {
            width: 100%;
        }
    }

    .buttonsWrapper {
        display: flex;
        flex-direction: column;
        padding: 30px;

        button {
            margin-bottom: 15px;
        }
    }
}
