.pendingOverlay {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
