@import '~react-md/src/scss/react-md';

// ReactMD settings
$md-primary-color: $md-teal-500;
$md-secondary-color: $md-purple-a-400;

// Custom settings
$container-max-width: 768px;
$gray-color: $md-grey-300;
$error-color: #f44336;
$small-screen: 550px;

@mixin mobile {
    @media (max-width: $small-screen) {
        @content;
    }
}
