@import 'globals';

@include react-md-everything;

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: $container-max-width;
}

.containerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.buttonsGroup button:not(:last-child) {
    margin-right: 10px;
}

.flexCenteredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    margin-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.withErrors {
    background-color: lighten($md-red-100, 3%);
}
