@import '../../styles/globals.scss';

.formsViewsHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0;
    background-color: #fff;

    h3 {
        padding-top: 10px;
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

.formPreview {
    border-top: 1px solid $gray-color;
}

.formFields {
    .addFieldButton {
        text-align: center;
    }
}

.submitButtonWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formPreviewControls {
    display: flex;
    justify-content: flex-end;
}
